<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Парсер товаров</title>
    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
    <div class="wrapper">
        <h3 class="warning">THIS IS AN EDUCATIONAL PROJECT ONLY, NOT FOR COMMERCIAL USE!!</h3>
        <div class="header">
            <div class="logo">
                <img class="logo_img" src="/static/img/h1_logo.png" alt="">
            </div>
            <form action="/" method="post" class="form">
                <input class="input_link" placeholder="Введите ссылку на категорию:" type="text" name="url" id="url" required>
                <input class="input_page" placeholder="Кол-во страниц " type="text" name="page" id="page" required>
                <button type="submit" class="submit_btn">Hacking)</button>
            </form>
        </div>
       

        {% if csv_file %}
            <a href="{{ csv_file }}" download="laptops.csv">Download CSV</a>
        {% endif %}

        <div class="guide">
            <h3 class="title">How does this parser work?</h3>
            <div class="slider">
                <div class="slides">
                    <div class="slide">
                        <img class="img" src="/static/img/step1.png" alt="">
                        <p class="title">Visit the morele website</p>
                    </div>
                    <div class="slide">
                        <img class="img" src="/static/img/step2.png" alt="">
                        <p class="title">Go to the category you needs</p>
                    </div>
                    <div class="slide">
                        <img class="img" src="/static/img/step3.png" alt="">
                        <p class="title">Select the subcategory you want to receive</p>
                    </div>
                    <div class="slide">
                        <img class="img" src="/static/img/step4.png" alt="">
                        <p class="title">You are in the final place, just copy the link and paste it into the parser line</p>
                    </div>
                    <div class="slide">
                        <img class="img" src="/static/img/step5.png" alt="">
                        <p class="title">Here's this link</p>
                    </div>
                </div>
                <button class="prev" onclick="prevSlide()">&#10094;</button>
                <button class="next" onclick="nextSlide()">&#10095;</button>
            </div>
           
        </div>
    </div>
   <script src="/static/js/index.js"></script>
</body>
</html>
